<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
    <resultMap id="UserMap" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="telPhone" column="tel_phone"/>
        <result property="mail" column="mail"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="password" column="password"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="address" column="address"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="table_name">
        zeus_user
    </sql>

    <sql id="columns_all">
        id,
        <include refid="columns_exclude_id"/>
    </sql>

    <sql id="columns_exclude_id">
        `username`, `tel_phone`, `mail`, `type`, `status`, `avatar_url`, `password`, `gender`, `birthday`, `address`,
        create_time, update_time
    </sql>

    <sql id="values_exclude_id">
        #{username}, #{telPhone}, #{mail}, #{type}, #{status}, #{avatarUrl}, #{password}, #{gender}, #{birthday},
        #{address}, now(), now()
    </sql>

    <sql id="criteria">
        <where>
            <if test="username != null">AND `username` = #{username}</if>
            <if test="telPhone != null">AND `tel_phone` = #{telPhone}</if>
            <if test="mail != null">AND `mail` = #{mail}</if>
            <if test="type != null">AND `type` = #{type}</if>
            <if test="status != null">AND `status` = #{status}</if>
            <if test="avatarUrl != null">AND `avatar_url` = #{avatarUrl}</if>
            <if test="password != null">AND `password` = #{password}</if>
            <if test="gender != null">AND `gender` = #{gender}</if>
            <if test="birthday != null">AND `birthday` = #{birthday}</if>
            <if test="address != null">AND `address` = #{address}</if>
            <if test="createTime != null">AND <![CDATA[create_time >= #{createTime}]]> </if>
            <if test="updateTime != null">AND <![CDATA[update_time < #{updateTime}]]> </if>
        </where>
    </sql>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="table_name"/>
        (<include refid="columns_exclude_id"/>)
        VALUES
        (<include refid="values_exclude_id"/>)
    </insert>

    <insert id="batchInsert" parameterType="User" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table_name"/>
        (<include refid="columns_exclude_id"/>)
        VALUES
        <foreach collection="list" item="i" index="index" separator=",">
            (#{i.username}, #{i.telPhone}, #{i.mail}, #{i.type}, #{i.status}, #{i.avatarUrl}, #{i.password},
            #{i.gender}, #{i.birthday}, #{i.address}, now(), now())
        </foreach>
    </insert>

    <select id="selectById" parameterType="long" resultMap="UserMap">
        SELECT
        <include refid="columns_all"/>
        FROM
        <include refid="table_name"/>
        WHERE id = #{id} LIMIT 1
    </select>

    <select id="selectByIds" parameterType="list" resultMap="UserMap">
        SELECT
        <include refid="columns_all"/>
        FROM
        <include refid="table_name"/>
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="update" parameterType="User">
        UPDATE
        <include refid="table_name"/>
        <set>
            <if test="username != null">`username` = #{username},</if>
            <if test="telPhone != null">`tel_phone` = #{telPhone},</if>
            <if test="mail != null">`mail` = #{mail},</if>
            <if test="type != null">`type` = #{type},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="avatarUrl != null">`avatar_url` = #{avatarUrl},</if>
            <if test="password != null">`password` = #{password},</if>
            <if test="gender != null">`gender` = #{gender},</if>
            <if test="birthday != null">`birthday` = #{birthday},</if>
            <if test="address != null">`address` = #{address},</if>
            updated_at = now()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM
        <include refid="table_name"/>
        WHERE id = #{id}
    </delete>

    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM
        <include refid="table_name"/>
        <include refid="criteria"/>
    </select>

    <select id="selectPaging" parameterType="map" resultMap="UserMap">
        SELECT
        <include refid="columns_all"/>
        FROM
        <include refid="table_name"/>
        <include refid="criteria"/>
        ORDER BY `id` DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectList" parameterType="map" resultMap="UserMap">
        SELECT
        <include refid="columns_all"/>
        FROM
        <include refid="table_name"/>
        <include refid="criteria"/>
        ORDER BY `id` DESC
    </select>

    <select id="selectByMail" parameterType="String" resultMap="UserMap">
        SELECT
        <include refid="columns_all"/>
        FROM
        <include refid="table_name"/>
        WHERE mail = #{mail} LIMIT 1
    </select>

</mapper>
